*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    height: 85vh;
    width: 85vw;
    background-color: rgb(18, 18, 72);
    border-radius: 10px;
}
.ball{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ff8177;
    position: fixed;
    top: 45vh;
    left: 50vw;
}
.paddle{
    background-color: #ff8177;
    height: 120px;
    width: 15px;
    position: fixed;
    border-radius: 2px;
}
.left{
    top: 40vh;
    left: 12vw;
}

.right{
    top: 40vh;
    right: 12vw;
}
.fa-circle{
    color: #ffbe76;
    font-size: 2rem;
}
.scoreboard{
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 1;
}

 .separator{
    width: 4px;
    height: 70%;
    background-color: black;
 }
